<div>
    <p>
        <a [routerLink]="['/']">Back to search results</a>
    </p>

    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading && personDetails">
    <h1>{{ personDetails.name }}</h1>
    <p>Favorite Color: {{ personDetails.favorite_color | titlecase }}</p>
    <div *ngFor="let quoteGroup of personDetails.quotes | keyvalue">
        <span>Likes: {{ quoteGroup.key }}</span>
        <div *ngFor="let excerpt of quoteGroup.value">
            <p>{{ excerpt }}</p>
        </div>
    </div>
    </div>
    <div *ngIf="!isLoading && !personDetails">
    <p>Person details not found.</p>
    </div>
</div>



